:root {
    --fontFamily-: "Montserrat", sans-serif;
    --boxShadow-: 0 2em 2em rgba(0, 0, 0, 0.4);
    --borderRadius-: 0.2em;
    --fontColor-: rgba(255, 255, 255, 0.65);
    --background--color: rgba(245, 245, 245, 0.2);
}

body {
    box-sizing: border-box;
    background: url("../img/desert.png") no-repeat center fixed;
    background-size: cover;
    font-family: var(--fontFamily-);
    color: var(--fontColor);
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: row;
    max-height: 70vh;
}

.tasks-container {
    flex: 1;
    overflow: auto;
    padding: 0 5px;
}

.task {
    border-top: 1px solid rgba(255, 255, 255, 0.65);
    margin-top: 5px;
}

.calendar {
    flex: 3;
    padding: 1em;
    height: 35em;
}

.header {
    margin: 1em;
    text-align: center;
}

.content-containers {
    box-shadow: var(--boxShadow-);
    background-size: auto;
    background-color: rgba(30, 31, 33, 0.6);
    margin: 2em;
    border-radius: var(--borderRadius-);
}

.dropdown {
    display: none;
    position: absolute;
    background-color: rgba(245, 245, 245, 0.2);
    color: var(--fontColor-);
    text-align: center;
    font-size: 1em;
    padding-top: 3em;
    padding-left: 2em;
    padding-right: 2em;
    overflow: auto;
    height: 22em !important;
    float: left;
    border-radius: var(--borderRadius-);
}



.calendarBtn {
    background-color: rgba(46,41,49,0);
    color: var(--fontColor-);
    text-align: center;
    border-radius: var(--borderRadius-);
    width: 20%;
}

.calendarBtn:hover {
    background-color: rgba(56,51,59,0);
}


.calendar-dates .days .day {
    float:left;
    width: 10%;
    padding: 1%;
    margin: 1%;
    font-size: 1em;
    text-align:center;
    border-radius: var(--borderRadius-);
}


.calendar-dates .day.blank {
    background-color: transparent;
    border:none;
}

.calendar-dates .days .day.selected:hover {
    opacity: 1;
}

.calendar-dates .day.label {
    background-color: rgba(71,65,74,0);
    color: var(--fontColor-);
    border:none;
    font-weight:bold;
}

.clear {
    clear:both;
}

.taskBtn .daysTask {
    position: relative;
    display: inline-block;
    width: 50%;
    background-color: rgba(49,45,52,0.4);
    color: var(--fontColor-);
    overflow: auto;
    height: 22em !important;
}

.calendar .yearBtn {
    float:right;
}


#currentMonth, #months {
    float: left;
    padding-left: 1.5em;
    margin: 1em;
    border: 1em;
}

.btn {
    box-shadow: var(--boxShadow-);
    font-family: var(--fontFamily-);
    background-color: rgba(245, 245, 245, 0.2);
    border: none;
    border-radius: var(--borderRadius-);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 3em;
}

.btn:hover {
    color: var(--fontColor-);
}

