
.task-description {
    border: 0.1em solid #6a67ce;
    width: 20em;
    margin: 1em;
    padding: 1em;
}

.task {
    border: 0.3em solid #6a67ce;
    width: 25em;
    padding: 1em;
    margin: 1em;
    background-color: white;
}